<button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  Albums
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
{{#each album}}

<li><a href="#">{{name}}</a></li>

{{/each}}

</ul>