<button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Artists
</button>

<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

{{#each artists}}
      <li><a href="#">{{artists}}</a></li>

{{/each}}
</ul>