
<table class="table">
         
              <thead>
                  <tr class="header-row">
                    <th class="col-md-1" data-col="tracklist">#</th>
                    <th class="col-md-3" data-col="songName">Name</th>
                    <th class="col-md-3" data-col="artist">Artist</th>
                    <th class="col-md-3" data-col="album">Album</th>
                    <th class="col-md-1" data-col="length"><span class="glyphicon glyphicon-hourglass" id="gly-spin" aria-hidden="true"></span> </th>
                    <th class="col-md-1" data-col="rating"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>     <span class="glyphicon glyphicon-thumbs-down" id="flip-glyphicon" aria-hidden="true"></span></th>
                  </tr>
                </thead>

                <tbody>
  {{#each songs}}
                
                
                  <tr class="song-row clickable-row" height="60">
                        <td class="col-md-1" data-col="tracklist" >
                          <span class="content">
                            1
                            <button aria-label="Play: song" data-id= "play" class="aria-play-button btn-link"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> 
                            </button>
                          </span>
                        </td>
                        <td class="col-md-3" data-col="songName">
                          <span class="content">{{name}}
                            
                          </span>
                        </td>
                        <td class="col-md-3" data-col="artist">
                          <span class="content">
                            {{artists}}
                          </span>
                        </td>
                        <td class="col-md-3" data-col="album">
                          <span class="content">
                            {{album.name}}
                          </span>
                        </td>
                         <td class="col-md-1"  data-col="length">
                          <span class="content">
                          {{album.year}}
                          </span>
                        </td>
                         <td class="col-md-1" data-col="rating">
                          <span class="content">
                             <button aria-label="Play: song" data-id= "play" class="aria-play-button btn-link btn-xs"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button><button aria-label="Play: song" data-id= "play" class="aria-play-button btn-link btn-xs"><span class="glyphicon glyphicon-thumbs-down" id="flip-glyphicon" aria-hidden="true"></span>
                            </button>
                            
                          </span>
                        </td>
                  </tr>
                  
                  {{/each}}
                  </tbody>

    </table>